<%- include('partials/header'); -%>
<div class="container">
<div class="jumbotron" style="margin:0px 0 0 0; color:blue;">
<h1 class="display-5 " style="margin:0px 0px 0px 0px;">
About Me
</h1>
<p style="color:#19a909;">Welcome to my page and I am very fortunate that you have come to take a look at it..This page is in development and I any improvement advise is very helpful. So helf in this mission :)</p>
</div>
</div>
<%- include('partials/footer'); -%>