<%- include('./partials/header'); -%>
<h2>LOGIN</h2>
<form method="POST" action="/login">
<input name="username" placeholder="USERNAME" type="name">
<input name="password" placeholder="PASSWORD" type="password">
<button>Submit</button>
</form>

<%- include('./partials/footer'); -%>