<%- include('./partials/header'); -%>
<h3>REGISTER / SIGN UP</h3>
<form method="POST" action="/register">
<input name="username" placeholder="USERNAME" type="name">
<input name="password" placeholder="PASSWORD" type="password">
<button>Submit</button>
</form>
<%- include('./partials/footer'); -%>
